@model AddTextToImage.Mvc.Models.Home.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <div class="mb-3">
        <label for="exampleInputText" class="form-label">Text</label>
        <textarea class="form-control" id="exampleInputText" aria-describedby="inputHelp" asp-for="Text"></textarea>
        <div id="inputHelp" class="form-text">We'll never share your text with anyone else and do not store your text.</div>
    </div>
    <button type="submit" class="btn btn-primary">Create image</button>
</form>
